@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital,wght@1,700&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #ffffff;
}
/* Styling for hero video */

#globe {
  display: none;
}

#videosection {
      position:relative; 
      width:100%; 
      overflow: hidden;
    }
  
#hero-video {
    align-self:stretch;
    justify-self:stretch;
    display:block;
    width:100%;
    height:100%;  
}

/* headings and logos */

#header { 
    background-color: #131D2B;
    overflow:hidden;
    
} 

h1 {
    font-family: 'Bungee Spice', cursive , sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#mainlogo {
    float: left;
    font-size: 180%;
    margin-left: 1.8em;
}   

/* navigation links */

#mainmenu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#mainmenu, #mainlogo {
    line-height: 50px;
}

#mainmenu li {
    float: left;
    list-style-type: none;
    margin-right: 1.8em;
}

#mainmenu a {
    font-family: 'Bungee Spice', cursive , sans-serif;
    text-decoration: none;

}

#mainmenu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.space {
    border-bottom: 1px solid #3a3a3a;
}

/* Over lay text on video */
.video-banner {
    position: relative;
    height: auto;
    width: 100%;
  }

/* About us Section */
  #about-us {
    background-color: #6887a7;
    overflow: hidden;
  }

  h3 {
    font-family: 'Bungee Spice', cursive , sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 200%;
    text-align: center;
  }

  #about-right {
    width: 100%;
    display: flex;
    align-items: center;
  }

  img {
    width: 50%;
    position: relative;
    height: auto; 
   }

   #about-left {
    text-align: center;
    padding-right: 1.25rem;
   }

   .groupinfo {
    float: right;
    width: 100%;
    margin-left: 2em;
    line-height: 90px;
    font-size: 200%;
    color: #3a3a3a;
   }

   /* Where we meet section */

   .mapouter {
    width: 100%;
    height: 400px;
   }
  
   #wherewemeet {
    background-color: #6887a7;
    overflow: hidden;
  }

   /* footer */

footer {
  background-color: #131D2B;
  overflow:hidden;
  height: 50px;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 150%;
  margin: 1px;
  padding: 10px;
  color: #ffffff;
}

/* Your Images */

#yourimages {
  background-color: #6887a7;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}
  
#photos > img {
  width: 100%;
}

/* Form */

.form-section {
  clear: left;
  background-image: url("../images/nighttimestars.jpg");
  background-size: cover;
  background-position: center;
  height: 900px;
}

.contact-us {
   margin : 30px 10% 0 0;
   color : #fff;
   background-color :transparent;
   max-width : 1000px;
   position: absolute;
   left : 5%;
   padding : 30px;
   
}

.contact-us h2 {
  font-family: 'Bungee Spice', cursive , sans-serif;
   margin-bottom : 50px;
   
}

.text-input {
   background : transparent;
   color : #fafafa;
   width : 100%;
   height : 25px;
   margin : 5px 0 20px 0;
   border: 1px solid #fafafa;
   border-radius: 2px;
}

.text-input:hover {
  border-color : #ffffff;
}

#subject {
  width: 100%; 
  padding: 50px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 30px;
  margin-bottom: 16px; 
  resize: vertical ;
  text-align: left;
}

.send-button {
    margin-top : 20px;
    border-radius : 2px;
    padding : 15px 32px 15px 32px;
    text-align : center;
    font-size :100%;
    background-color : #131D2B;
    color : #ffffff;
    display: block;
}

.send-button:hover {
    background-color : #ffffff;
    color : #131D2B;
}

/* Thank You Page */

#thankyou {
  clear: left;
  background-image: url("../images/nighttimestars.jpg");
  background-size: cover;
  background-position: center;
}

.thankyou {
  height: 100% ;
  width: 100% ;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

/* Media queries */

/* For larger to medium screens size from 1200 px wide and down */

@media screen and (max-width: 1200px) {

  #about-right {
    display: flex;
    flex-direction: column;
  }

  .img {
    order: 1;
  }

  .groupinfo {
    order: 2;
  }
  }


/* For medium screen sizes from 950px wide and down */
@media screen and (max-width:950px) {
    
  #about-right {
    display: flex;
    flex-direction: column;
  }

  .img {
    order: 1;
  }

  .groupinfo {
    order: 2;
  }
}

  @media screen and (max-width:800px) {

    #about-right {
      display: flex;
      flex-direction: column;
    }
  
    .img {
      order: 1;
    }
  
    .groupinfo {
      order: 2;
    }

    #photos {
      column-count: 2;
    }
  }

